.btn-outline-secondary {
  border: 1px solid #e8e8e8; }

.list-style-none {
  list-style: none; }

.line-breadcrumb {
  border-top: 1px solid #e8e8e8;
  margin-top: 0;
  margin-bottom: 0; }

.text-blue {
  color: #3b8fee; }

.box-blue {
  background-color: rgba(59, 143, 238, 0.1); }
  .box-blue li {
    list-style: none; }

.box-gray {
  background-color: rgba(222, 222, 222, 0.15); }
  .box-gray li, .box-gray a {
    color: #0173cc;
    font-size: 0.875rem; }

.box-dark-blue {
  background-color: #2e3f62; }

.image-container {
  position: relative; }
  .image-container img {
    width: 60%; }
    @media (max-width: 575.98px) {
      .image-container img {
        width: 45%; } }
  .image-container:hover .bg-img-plus {
    display: block;
    background: rgba(91, 164, 221, 0.5); }
  .image-container .bg-img-plus {
    position: absolute;
    top: 0;
    left: 0;
    width: 60%;
    height: 100%;
    display: none;
    color: #fff;
    font-size: 4rem; }
    @media (max-width: 575.98px) {
      .image-container .bg-img-plus {
        width: 45%; } }
    .image-container .bg-img-plus:hover {
      text-decoration: none; }
    .image-container .bg-img-plus span {
      position: absolute;
      /* top: 50%;
			left: 40%; */
      top: 45%;
      left: 50%;
      /* transform: translateX(-40%); */
      /* transform: translateY(-50%); */
      transform: translate(-50%); }

.standart-info, .doc-info {
  border: 1px solid #e8e8e8;
  background-color: #ffffff;
  color: #242424; }
  .standart-info .btn-light, .doc-info .btn-light {
    color: #595959;
    border: 1px solid #d0d0d0;
    background-color: rgba(220, 220, 220, 0.7); }
    .standart-info .btn-light:hover, .doc-info .btn-light:hover {
      background-color: gainsboro; }
  .standart-info .btn-outline-light, .doc-info .btn-outline-light {
    color: #595959;
    border: 1px solid #d0d0d0; }

.standart-info:hover {
  background-color: rgba(184, 227, 255, 0.1);
  box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09); }

.doc-info:hover {
  background-color: #f9f9f9;
  box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.04); }

.doc-info .btn-outline-light:hover {
  background-color: #eeee; }

.btn-light-blue {
  color: #595959;
  background-color: rgba(0, 166, 224, 0.2); }
  .btn-light-blue:hover {
    color: #595959;
    background-color: rgba(0, 166, 224, 0.3); }

.search-docs label {
  color: #959595; }

.search-docs .form-control {
  border: 1px solid #dee2e6 !important; }

.page-item.active .page-link {
  background-color: #f2f2f2;
  border-color: #f2f2f2;
  color: #acacac; }

.pagination-sm .page-link:hover {
  color: #6c757d;
  border: 1px solid #f2f2f2; }

.page-item.disabled .page-link {
  color: #e5e5e5; }

.pagination-sm .page-link {
  padding: 0.25rem 0.7rem;
  color: #e5e5e5;
  border: 1px solid #e5e5e5;
  border-radius: 0.2rem; }

.pagination-sm .page-link-prev, .pagination-sm .page-link-next {
  padding: 0.25rem; }

.search-docs .form-control option {
  color: #a7a7a7; }

.search-docs .form-control option:hover {
  color: #000;
  background-color: #e8e8e8; }

.news-left-block {
  background-color: rgba(232, 232, 232, 0.15); }
  @media (max-width: 991.98px) {
    .news-left-block {
      background-color: transparent; } }
  .news-left-block .date-news {
    font-size: 0.875rem; }
  .news-left-block .icon-news {
    display: inline-block;
    border: 1px solid #e8e8e8; }
    .news-left-block .icon-news:hover {
      background-color: #fff; }
    .news-left-block .icon-news .dropdown-menu {
      background-color: #b0b5c2;
      min-width: 20rem;
      top: 15px !important;
      left: 15px !important; }
    .news-left-block .icon-news .dropdown-toggle::after {
      display: none; }
    .news-left-block .icon-news .btn-dark-blue {
      color: #fff;
      background-color: #959db0; }
      .news-left-block .icon-news .btn-dark-blue:hover {
        background-color: rgba(149, 157, 176, 0.5); }
  .news-left-block .btn-outline-gray {
    border: 1px solid #e8e8e8;
    color: #e8e8e8; }
    .news-left-block .btn-outline-gray:hover {
      background-color: rgba(232, 232, 232, 0.5); }

.link-next-news {
  color: #56668f; }

/* Slider */
.owl-theme .owl-nav [class*='owl-'] {
  color: #FFF;
  background: #d6d6d6;
  display: inline-block;
  cursor: pointer;
  border-radius: 3px;
  border: 1px solid #e8e8e8; }
  .owl-theme .owl-nav [class*='owl-']:hover {
    background: #869791;
    color: #FFF;
    text-decoration: none; }

.owl-theme .owl-nav {
  margin-top: 1.5rem;
  text-align: left;
  -webkit-tap-highlight-color: transparent; }
  .owl-theme .owl-nav .disabled {
    opacity: 0.5;
    cursor: default; }

.owl-carousel .owl-nav button.owl-prev,
.owl-carousel .owl-nav button.owl-next {
  background: none;
  color: gray;
  border: 1px solid #e8e8e8;
  padding: 0 5px 2px 5px !important;
  margin-right: 0.5rem; }

.box-slider-text .owl-carousel .owl-stage-outer {
  border-bottom: 1px solid #eee;
  padding-bottom: 1.5rem; }

.box-slider-text .owl-carousel .owl-item img {
  display: inline-block;
  width: auto;
  margin-bottom: 3px; }

.post-slide .post-img img {
  width: 100%;
  height: auto; }

/* End Slider */
.bg-light-blue {
  background-color: rgba(245, 250, 255, 0.55); }
