.btn-outline-secondary {
	border: 1px solid #e8e8e8;
}
.list-style-none {
	list-style: none;
}
.line-breadcrumb {
	border-top: 1px solid #e8e8e8;
	margin-top: 0;
	margin-bottom: 0;
}

.text-blue {
	color: #3b8fee;
}

.box-blue {
	background-color: rgba(59, 143, 238, 0.1);

	li {
		list-style: none;
	}
}

.box-gray {
	background-color: rgba(222, 222, 222, 0.15);

	li, a {
		color: #0173cc;
		font-size: 0.875rem;
	}

}

.box-dark-blue {
	background-color: rgba(46, 63, 98, 1);
}

.image-container {
	position: relative;
	img {
		width: 60%;
		@media (max-width: 575.98px) {
			width: 45%;
		}
	}

	&:hover .bg-img-plus {
		display: block;
		background: rgba(91, 164, 221, 0.5);
	}

	.bg-img-plus {
		position: absolute;
		top: 0;
		left: 0;
		width: 60%;
		height: 100%;
		display: none;
		color: #fff;
		font-size: 4rem;

		@media (max-width: 575.98px) {
			width: 45%;
		}

		&:hover {
			text-decoration: none;
		}

		span {
			position: absolute;
			top: 50%;
			left: 40%;
			transform: translateX(-40%);
			transform: translateY(-50%);
		}
	}
}



.standart-info, .doc-info {
	border: 1px solid #e8e8e8;
	background-color: #ffffff;
	color: #242424;

	.btn-light {
		color: #595959;
		border: 1px solid #d0d0d0;
		background-color: rgba(220, 220, 220, 0.7);

		&:hover {
			background-color: rgba(220, 220, 220, 1);
		}
	}

	.btn-outline-light {
		color: #595959;
		border: 1px solid #d0d0d0;
	}
}
.standart-info:hover {
	background-color: rgba(184, 227, 255, 0.1);
	box-shadow: 0 2px 18px rgba(0, 0, 0, 0.09);
}

.doc-info:hover {
	background-color: #f9f9f9;
	box-shadow: 0 1px 6px 1px rgba(0, 0, 0, 0.04);
}
.doc-info .btn-outline-light:hover {
	background-color: #eeee;
}

.btn-light-blue {
	color: #595959;
	background-color: rgba(0, 166, 224, 0.2);

	&:hover {
		color: #595959;
		background-color: rgba(0, 166, 224, 0.3);
	}
}


.search-docs label {
	color: #959595;
}
.search-docs .form-control {
	border: 1px solid #dee2e6 !important;
}

.page-item.active .page-link {
	background-color: #f2f2f2;
	border-color: #f2f2f2;
	color: #acacac;
}
.pagination-sm .page-link:hover {
	color: #6c757d;
	border: 1px solid #f2f2f2;
}
.page-item.disabled .page-link {
	color: #e5e5e5;
}
.pagination-sm .page-link {
	padding: 0.25rem 0.7rem;
	color: #e5e5e5;
	border: 1px solid #e5e5e5;
	border-radius: 0.2rem;
}
.pagination-sm .page-link-prev, .pagination-sm .page-link-next {
	padding: 0.25rem;
}

.search-docs .form-control option {
	color: #a7a7a7;
}
.search-docs .form-control option:hover {
	color: #000;
	background-color: #e8e8e8;
}

.news-left-block {
	background-color: rgba(232, 232, 232, 0.15);
	@media (max-width: 991.98px) {
		background-color: transparent;
	}


	.date-news {
		font-size: 0.875rem;
	}

	.icon-news {
		display: inline-block;
		border: 1px solid #e8e8e8;

		&:hover {
			background-color: #fff;	
		}

		.dropdown-menu {
			background-color: #b0b5c2;
			min-width: 20rem;
			top: 15px !important;
			left: 15px !important;
		}

		.dropdown-toggle::after {
			display: none;
		}

		.btn-dark-blue {
			color: #fff;
			background-color: rgba(149, 157, 176, 1);

			&:hover {
				background-color: rgba(149, 157, 176, 0.5);
			}
		}
	}

	

	.btn-outline-gray {
		border: 1px solid #e8e8e8;
		color: #e8e8e8;

		&:hover {
			background-color: rgba(232, 232, 232, 0.5);
		}
	}
}

.link-next-news {
	color: #56668f;
}


/* Slider */
.post-slide{
	/* margin: 0 15px; */
	border-bottom: 1px solid #dadada;
	box-shadow: 0 0 5px rgba(167, 197, 167, 0.8);
	transition: all 0.4s ease-in-out 0s;
}
.post-slide .post-img {
	position: relative;
	overflow: hidden;
}
.post-slide .post-img:before{
	content: "";
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0);
	transition: all 0.4s linear 0s;
}
.post-slide:hover .post-img:before{
	background-color: rgba(54, 58, 63, 0.3)
}
.post-slide .post-img img{
	width: 100%;
	height: auto;
}
/* .post-slide .category {
 width: 20%;
 font-size: 16px;
 color: #fff;
 line-height: 11px;
 text-align: center;
 text-transform: capitalize;
 padding: 11px 0;
 background: #9B7DF5;
 position: absolute;
 bottom: 0;
 left: -50%;
 transition: all 0.5s ease-in-out 0s;
}
.post-slide:hover .category{
 left: 0;
 } */
/* .post-slide .post-review{
 padding: 25px 20px;
 background: #fff;
 position: relative;
 } */
/* .post-slide .post-title{
 margin: 0;
 } */
/* .post-slide .post-title a{
 display: inline-block;
 font-size: 16px;
 color: #9B7DF5;
 font-weight: bold;
 letter-spacing: 2px;
 text-transform: uppercase;
 margin-bottom: 25px;
 transition: all 0.30s linear 0s;
 } */
/* .post-slide .post-title a:hover{
 text-decoration: none;
 color: #555;
 } */
/* .post-slide .post-description{
 font-size: 15px;
 color: #555;
 line-height: 26px;
 } */
/* .post-review .post-bar{
 margin-top: 20px;
 } */
/* .post-bar span{
 display: inline-block;
 font-size: 14px;
}
.post-bar span i{
 margin-right: 5px;
 color: #999;
}
.post-bar span a{
 color: #999;
 text-transform: uppercase;
}
.post-bar span a:hover{
 text-decoration: none;
 color: #9B7DF5;
}
.post-bar span.comments{
 float: right;
 } */
/* @media only screen and (max-width: 359px) {
 .post-slide .category{ font-size: 13px; }
 } */

 /* End Slider */



