:root {
	--blue: #5ba4dd;
	--indigo: #6610f2;
	--purple: #6f42c1;
	--pink: #e83e8c;
	--red: #dc3545;
	--orange: #fd7e14;
	--yellow: #ffc107;
	--green: #28a745;
	--teal: #20c997;
	--cyan: #17a2b8;
	--white: #fff;
	--gray: #6c757d;
	--gray-dark: #343a40;
	--primary: #007bff;
	--secondary: #6c757d;
	--success: #28a745;
	--info: #17a2b8;
	--warning: #ffc107;
	--danger: #dc3545;
	--light: #f8f9fa;
	--dark: #343a40;
}

body {
	font-family: "Avenir Next Cyr Regular", sans-serif;
	line-height: 24px;
	letter-spacing: 0.32px;
	background-color: #ffffff;
	font-size: 1rem;
}

/* Change Bootstrap */
.btn, 
.form-control, 
.alert, 
.dropdown-menu,
.card {
	border-radius: 0.2rem;
}
.navbar {padding: 0;}
.navbar-brand {
	font-family: "Avenir Next Cyr Demi";
	padding: 1.5rem 5rem;
	margin-right: 1rem;
	font-size: 1rem;
	background-color: #f0f8ff;
	color: #000000;
}
.navbar-brand:hover {color: #4c4c4c;}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Avenir Next Cyr Demi', sans-serif;
}

.popover-body {
	color: #242424;
	line-height: 26px;
	letter-spacing: 0.64px;
	font-size: 0.8rem;
}
/* End Change Bootstrap */

/* Font family */
.font-text-regular {
	font-family: 'Avenir Next Cyr Regular', sans-serif;
}
.font-text-demi {
	font-family: 'Avenir Next Cyr Demi', sans-serif;
}
.font-text-medium {
	font-family: 'Avenir Next Cyr Medium', sans-serif;
}
.font-text-thin {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
}
.font-text-bold {
	font-family: 'Avenir Next Cyr Bold', sans-serif;
}
.font-text-light {
	font-family: 'Avenir Next Cyr Light', sans-serif;
}
/* End Font family */

/* Font size */
.text-size-12 {
	font-size: 0.8rem;
}
.text-size-14 {
	font-size: 0.875rem;
}
.text-size-18 {
	font-size: 1.125rem;
}
.text-size-20 {
	font-size: 1.2rem;
}
/* End Font size */

.line-header {
	border-color: #fff;
}

/* Наверх */
.top-arrow.top-arrow-active {
	bottom: 20px;
}
.top-arrow {
	position: fixed;
	right: 20px;
	width: 40px;
	height: 40px;
	transition: 0.4s;
	opacity: 0.7;
	border: 1px solid #fff;
	background-color: rgba(54, 58, 63, 1);
	z-index: 100;
	outline: 0 !important;
	cursor: pointer;
	border-radius: 0.2rem;
}
.top-arrow:hover {opacity: 1;}
.top-arrow::after {
	content: '';
	width: 10px;
	height: 10px;
	border-top: 1px solid #fff;
	border-left: 1px solid #fff;
	transform: rotate(45deg);
	position: absolute;
	top: 4px;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}
/* End Наверх */

/* Menu mobil */
.navbar-toggler {
	padding: 0.5rem 0.75rem;
	background-color: transparent;
	border: 2px solid  transparent;
	border-radius: 0.2rem;
}
.navbar-toggler img {
	vertical-align: top;
}
.navbar-toggler:hover, .navbar-toggler:focus {
	border: 2px solid rgba(72, 99, 140, 0.7);
}
.header-contacts-mobil {
	background-color: #495573;
	font-size: 0.8rem;
}
.header-contacts-mobil a {
	color: #fff;
}
.mail-mobil {
	font-size: 0.7rem;
}

.header-info-mobil {
	background: url(../images/bcg-head-mobil.png) no-repeat;
	background-size: cover;
	color: #fff;
}
.head-text-small {
	font-size: 0.8rem;
}
.header-info-mobil a {
	color: #fff;
}
.header-info-mobil a:hover {
	text-decoration: none;
}
/* End Menu mobil */

/* Header */
.header-addr {
	font-size: 0.8rem;
	color: #89929D;
	background-color: #363a3f;
}

.header-addr a {
	color: #ffffff;
}

.btn-outline-white {
	background-color: transparent;
	font-size: 0.875rem;
	color: #fff;
	border-color: #fff;
}
.btn-outline-white:hover {
	color: #000;
	background-color: #fff;
	border-color: #fff;
}
.btn-blue {
	font-size: 0.875rem;
	color: #fff;
	background-color: #5ba4dd;
	border-color: #5ba4dd;
}
.btn-blue:hover {
	color: #fff;
	background-color: #0D9BFF;
	border-color: #0D9BFF;
}


.btn-outline-blue {
	font-size: 0.875rem;
	color: #5ba4dd;
	border-color: #5ba4dd;
}
.btn-outline-blue:hover {
	color: #fff;
	background-color: #5ba4dd;
	border-color: #5ba4dd;
}

.main .nav-link {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	color: #2b447a;
	line-height: 24px;
	letter-spacing: 0.84px;
	text-transform: uppercase;
}
.main .nav-link:hover {
	color: #6c757d;
}

.main .nav-link.active {
	font-weight: 600;
	border-bottom: 2px solid #e8e8e8;
}

.dropdown-toggle::after {
	display: none;
}
.main .dropdown-item {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
}

.img-overlay {
	background-color: rgba(54, 58, 63, 0.85);
}
.header-info {
	background: url("../images/bcg-head.png") no-repeat;
	background-size: cover;
	color: #fff;
}
.header-info .container {
	padding-top: 5rem;
	padding-bottom: 5rem;
}
.header-info a {
	color: #fff;
}
.text-dopusk {
	font-size: 0.875rem;
}
.block-right-down {
	background-color: rgba(255, 255, 255, 1);
	border-radius: 0.2rem;
}
.block-right-down a {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	line-height: 26px;
	font-size: 1.125rem;
	color: rgba(0, 0, 0, 1);
}

.search-amenities-mobil .form-control, .search-amenities-mobil .btn-search {
	color: #3b3b3b;
	background-color: #e8e8e8;
	border: 1px solid transparent;
	font-size: 0.8rem;
}

.block-amenities {
	background-color: #ededed;
	border-radius: 0.2rem;
}

.block-amenities a {
	font-family: 'Avenir Next Cyr Thin', sans-serif;
	line-height: 18px;
	font-size: 0.875rem;
	color: rgba(0, 0, 0, 1);
}

.section {
	background-color: rgba(230, 243, 255, 0.4);
	border-radius: 3px;
}
.doc {
	background-color: rgba(255, 247, 152, 0.3);
	border-radius: 3px;
}

.doc a {
	line-height: 20px;
}

.btn-outline-purple {
	font-size: 0.875rem;
	color: #575e73;
	border-color: #575e73;
}
.btn-outline-purple:hover {
	color: #fff;
	background-color: #56668f;
	border-color: #56668f;
}
.btn-silver {
	color: #000;
	background-color: #f3f3f3;
	border-color: #f3f3f3;
}
.btn-silver:hover {
	color: #fff;
	background-color: silver;
	border-color: silver;
}

.news-with-photo {
	background-color: rgba(54, 58, 63, 1);
}
.news-with-photo img {
	opacity: 0.5;
}

.news-with-photo a {
	font-family: 'Avenir Next Cyr Demi', sans-serif;
	color: #fff;
	background-color: rgba(39, 71, 129, 0.6);
	font-size: 1.2rem;
	padding: 1rem 1.2rem;
	margin-left: -1.2rem;
}

.card-img-overlay span {
	line-height: 20px;
}

/* Penultimate block */
.penultimate-block {
	background: url("../images/bg-belowe-footer.png") no-repeat;
	background-size: cover;
	background-position: center bottom;
	color: #fff;
}
.link-journal {
	font-size: 1.5rem;
}
.penultimate-01 {
	background: url("../images/img-gradient.png") no-repeat;
	background-size: cover;
	background-position: center bottom;
	color: #fff;
}

.penultimate-02 {
	background: url("../images/img-welder1.png") no-repeat;
	background-size: cover;
	background-position: center bottom;
	color: #fff;
}

.penultimate-03 {
	background: url("../images/img-welding.png") no-repeat;
	background-size: cover;
	background-position: center bottom;
	color: #fff;
}

/* End Penultimate block */


/* Footer */
.footer-info {
	background-color: #333333;
	color: #a8a8a8;
}
.footer-info .footer-text {
	font-size: 1rem;
	line-height: 16px;
}
.footer-text-small {
	font-size: 0.8rem;
	line-height: 20px;
}
.footer-info a {
	color: #fff;
}
.link-footer {
	font-size: 0.875rem;
}
.line-footer-info {
	width: 100%;
	border-top: 2px solid #e8e8e8;
	opacity: 0.1;
}

.footer-info .form-control {
	color: #fff;
	background-color: transparent;
	border: 1px solid #fff;
}

.footer-info .custom-control-label::before {
	background-color: transparent;
	border: 1px solid #fff;
}
.footer-info .custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	background-color: transparent;
}


.footer {
	background-color: #3c3c3c;
	font-size: 0.8rem;
}
.footer a, .footer p, .footer span {
	color: #757575;
}
/* End Footer */

/* Modal Window */
.modal .custom-control-label a {
	text-decoration: underline;
}
.modal .custom-control-label a:hover {
	text-decoration: none;
}
.modal-header {
	border-bottom: none;
}
.modal-footer {
	justify-content: flex-start;
	border-top: none;
}
.modal-content {
	background-color: #7488b0;
	color: #fff;
	border-radius: 0;
	border: none;
}

.modal-content .form-control {
	border: 1px solid #ffffff;
	background-color: transparent;
	color: #fff;
	font-size: 0.8rem;
}
.modal-content .form-control option {
	color: #000;
}
.modal-content .custom-control-label::before {
	background-color: transparent;
	border: 1px solid #fff;
}
.modal-content .custom-control-input:checked ~ .custom-control-label::before {
	color: #fff;
	background-color: #7488b0;
}
.modal-header {
	position: relative;
	background-color: #8699c0;
	display: block;
	border-radius: 0;
}

.modal-header p {
	font-size: 0.875rem;
	line-height: 20px;
}

.modal-header .close {
	position: absolute;
	right: 2rem;
	top: 0;
	font-size: 2.5rem;
	font-weight: 100;
	color: #fff;
	opacity: 1;
	line-height: inherit;
	padding: 1rem;
	margin: 0;
}
.close:not(:disabled):not(.disabled):hover, .close:not(:disabled):not(.disabled):focus {
	color: #fff;
	text-decoration: none;
	opacity: .5;
}

/* End Modal */

